.v-Checkout {
    text-align: left;
}

.v-Checkout .ant-input {
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.v-Checkout .ant-select {
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}
