.c-WorkContainer {
    background-image: url("../../resources/images/tshirt.jpg");
    height: 600px;
    width: 500px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-Create {
    display: inline-flex;
}

img {
    margin-top: 150px;
    margin-left: 130px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 550px) {
    .c-Create {
        display: block;
    }
}
